<html>
    <head>
        <title>Gosia's Blog</title>
    </head>
    <body>
        <p><em>Hi there!</em></p>
        <p>It works!</p>
        <p> This is my first Django Project.</p>
        <p>I have started to learn coding on January 2016. On 9th Jan I joined <a href = "www.codecademy.com">Codecademy</a>.</p>
        <p>So far I covered the following courses:</p>
        <ul>
            <li>Python</li>
            <li>HTML & CSS</li>
            <li>Command Line</li>
            <li>GIT</li>
        </ul>
    </body>
</html>